{% extends 'base.html.twig' %}

{% set title = 'Résultat - ' ~ participation.diagnostic.name %}

{% block body %}
    <main id="user">
        <div class="container diagnostics">
            <div class="head">
                <div class="logo">
                    <a href="{{ path('index') }}"><img src="{{ asset('img/logo.svg') }}" alt="logo scaleChanger"></a>
                </div>
                <h2 class="title">Vos résultat pour : {{ participation.diagnostic.name }}</h2>

                {% set maturities = "<span class='maturity'>" %}
                {% for key, maturity in participation.diagnostic.globalScale %}
                    {% set maturities = maturities ~ (maturity.label == participation.results.maturity ? "<b>" ~ participation.results.maturity ~ "</b>" : maturity.label) %}
                    {% set maturities = maturities ~ (key < participation.diagnostic.globalScale|length -1 ? " - " : "") %}
                {% endfor %}
                {% set maturities = maturities ~ "</span>" %}

                {% if participation.done == true and participation.results is defined %}
                    <p class="infos results"><i>Stade de maturité</i> : <span class="maturity">{{ maturities|raw }}</span></p>
                {% endif %}
            </div>

            {% if participation.done == true %}
                <table>
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Réponse(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        {% if category.results.maturity is not null %}
                            <tr>
                                {% set maturities = "" %}
                                {% if category.results.maturity is not empty %}
                                    {% set maturities = "<span class='maturity'>" %}
                                    {% for key, maturity in constant('CATEGORY_MATURITY', participation.diagnostic) %}
                                        {% set maturities = maturities ~ (maturity == category.results.maturity ? "<b>" ~ category.results.maturity ~ "</b>" : maturity) %}
                                        {% set maturities = maturities ~ (key < constant('CATEGORY_MATURITY', participation.diagnostic)|length -1 ? " - " : "") %}
                                    {% endfor %}
                                    {% set maturities = maturities ~ "</span>" %}
                                {% endif %}

                                <td class="category">{{ category.name }}<br>{{ maturities|raw }}</td>
                            </tr>
                            {% for question in participation.diagnostic.questions %}
                                {% if question.category == category and question.activated %}
                                    {% set questionAnwsers = participation.answers[question.id] is defined ? participation.answers[question.id] : [] %}
                                    <tr class="user">
                                        <td class="ask">{{ question.ask }}</td>
                                        <td>
                                            {% for key, answer in question.answers %}
                                                {% if question.answerType < 10 %}
                                                    <div class="answer">
                                                        <input type="radio" disabled autocomplete="off" {{ key in questionAnwsers ? 'checked' : '' }}>&nbsp;&nbsp;<label>{{ answer['answer'] }}</label>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <i>{{ questionAnwsers[0] is defined ? questionAnwsers[0] : "--" }}</i>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table>
                    <thead>
                    <tr>
                        <td style="text-align: center;">
                            Vous n'avez pas terminé le questionnaire,
                            cliquez pour reprendre :<br>
                            <a href="{{ path('participation_start', {participation: participation.id}) }}">
                                <button style="margin-top: 20px; padding: 10px; cursor: pointer;">Go !</button>
                            </a>
                        </td>
                    </tr>
                    </thead>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock %}
