
<div class="category" style="background-color: {{ question.category.hexColor }}">
    <h2 class="title">{{ question.category.name }}</h2>
    <p class="infos">Question {{ participation.meta.total - participation.meta.left + 1 }}/{{ participation.meta.total }}</p>

    <div class="question">
        <h3 class="ask">{{ question.ask }}</h3>
        <p class="infos">{{ question.helper }}</p>

        <div class="answers">
            {{ include('participation/answer_create.html.twig') }}
        </div>
    </div>
</div>
