{% extends 'base.html.twig' %}

{% set title = diagnostic.name %}

{% block body %}
<main id="user">
    <div class="container participation">
        <div class="head">
            <div class="logo">
                <a href="{{ path('index') }}"><img src="{{ asset('img/logo.svg') }}" alt="logo scaleChanger"></a>
            </div>

            <h1 class="title">{{ diagnostic.name }}</h1>
        </div>

        <div class="form">
            <form method="get">
                <input type="hidden" name="participation" value="{{ participation.id }}">

                <div class="import">
                    {# question imported here #}
                </div>

                <div>
                    <button id="prev" class="{{ previous != false ? 'active' : '' }}" type="button">Précédent</button>
                    <input type="submit" value="{{ initiate != false ? 'Continuer' : 'Commencer' }}">
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector('form #prev').addEventListener('click', prevQuestion);
        function prevQuestion(e)
        {
            let importDiv = document.querySelector('.import');

            fetch('/participation/prev/{{ participation.id }}')
                .then(r => r.json())
                .then(json => {
                    importDiv.innerHTML = json.html;

                    if(json.previous === true)
                        document.querySelector('form #prev').classList.add('active');
                    else
                        document.querySelector('form #prev').classList.remove('active');
                })
                .catch(e => {
                    console.error(e);
                    handleError(e);
                });
        }

        document.querySelector('form').addEventListener('submit', nextQuestion);
        function nextQuestion(e)
        {
            e.preventDefault();

            let importDiv   = document.querySelector('.import');
            let required    = importDiv.querySelector('input[name="required"]');
            let form        = new FormData(document.querySelector('form'));

            let requestBody = {};
            if(required === null) {
                requestBody = {method: "GET"};
            } else {
                if(required.value === "1" && form.get('answers[]') === null) {
                    alert('Merci de répondre à la question.');
                    return;
                }

                requestBody = {
                    method: "POST",
                    body: form
                };
            }

            fetch('/participation/next/{{ participation.id }}', requestBody)
                .then(r => r.json())
                .then(json => {
                    if(json.done === true) {
                        location.href = '/participation/over-view/{{ participation.id }}';
                    } else {
                        importDiv.innerHTML = json.html;
                    }

                    document.querySelector('input[type="submit"]').value = "Continuer";
                    if(json.previous === true)
                        document.querySelector('form #prev').classList.add('active');
                    else
                        document.querySelector('form #prev').classList.remove('active');
                })
                .catch(e => {
                    console.error(e);
                    handleError(e);
                });
        }

        function handleError(e)
        {
            console.log('TODO');
        }

        function eraseAnswers()
        {
            document.querySelectorAll('input[name="answers[]"]').forEach(i => {
                if(i.type === 'checkbox' || i.type === 'radio')
                    i.checked = false;
                else
                    i.value = "";
            });
        }
    </script>
{% endblock %}
