{% extends 'base.html.twig' %}

{% set title = 'Bienvenue' %}

{% block body %}
<main id="user">
    <div class="container diagnostics">
        <div class="head">
            <div class="logo">
                <img src="{{ asset('img/logo.svg') }}" alt="logo scaleChanger">
            </div>
            <h1 class="title">Vos diagnostics</h1>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Diagnostic</th>
                    <th>Date</th>
                    <th class="small center">status</th>
                    <th class="small center">action</th>
                </tr>
            </thead>
            <tbody>
            {% for participation in participations %}
                <tr>
                    <td>{{ participation.diagnostic.name }}</td>
                    <td>{{ participation.createdAt|date('d-m-Y') }}</td>
                    {% if participation.done %}
                        <td class="small center">
                            <img class="icon disabled" src="{{ asset('img/icon/check.png') }}" alt="status">
                        </td>
                        <td class="small center" title="voir">
                            <a href="{{ path('participation_over-view', {participation: participation.id}) }}">
                                <img class="icon" src="{{ asset('img/icon/see.png') }}" alt="see">
                            </a>
                        </td>
                    {% else %}
                        <td class="small center">
                            <img class="icon disabled" src="{{ asset('img/icon/wait.png') }}" alt="status">
                        </td>
                        <td class="small center" title="commencer">
                            <a href="{{ path('participation_start', {participation: participation.id}) }}">
                                <img class="icon" src="{{ asset('img/icon/edit.png') }}" alt="start">
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <table style="margin-top: 50px;">
                        <tr>
                            <td style="text-align: center;">Aucun diagnostic actuellement</td>
                        </tr>
                    </table>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
