
<header>
    <ul class="menu">
        <a href="{{ path('admin_users') }}"><li class="{{ active == 'users' ? 'active' : '' }}">Utilisateurs</li></a>
        <a href="{{ path('admin_diagnostics') }}"><li class="{{ active == 'diagnostics' ? 'active' : '' }}">Diagnostiques</li></a>
        <a href="{{ path('admin_participations') }}"><li class="{{ active == 'participations' ? 'active' : '' }}">Participations</li></a>
        <li>...</li>
    </ul>
</header>