
{% if id < 10 %}
    <div class="answer">
        <div class="inputs">
            <input type="text" name="answers[]" placeholder="&nbsp;Réponse" required>
            <input type="number" name="scores[]" min="0" max="{{ id == 3 or id == 4 ? '1' : '99' }}" placeholder="&nbsp;score" required>
            <a href="" onclick="removeMultipleAnswer(event)"><img class="icon" src="{{ asset('img/icon/minus.png') }}" alt="remove"></a>
            <a href="" onclick="addMultipleAnswer(event)"><img class="icon" src="{{ asset('img/icon/add.png') }}" alt="add"></a>
        </div>
    </div>
    <div class="answer">
        <div class="inputs">
            <input type="text" name="answers[]" placeholder="&nbsp;Réponse" required>
            <input type="number" name="scores[]" min="0" max="{{ id == 3 or id == 4 ? '1' : '99' }}" placeholder="&nbsp;score" required>
            <a href="" onclick="removeMultipleAnswer(event)"><img class="icon" src="{{ asset('img/icon/minus.png') }}" alt="remove"></a>
            <a href="" onclick="addMultipleAnswer(event)"><img class="icon" src="{{ asset('img/icon/add.png') }}" alt="add"></a>
        </div>
    </div>
{% else %}
    <div class="answer">
        <input type="{{ answerType.type }}" placeholder="{{ answerType.label }}">
    </div>
{% endif %}

{% if id < 10 %}
    <div class="qlink disabled">
        <label class="activate">Activer QLink&nbsp;<input type="checkbox" value="true" onchange="activateInputs(event)"></label>
        Le score dépendra de la réponse à la question&nbsp;
        <select name="qlink[]" class="questions" autocomplete="off" disabled>
            {% for q in diagnostic.questions %}
                <option value="{{ q.id }}">Q{{ q.id }}. {{ q.ask|slice(0, 50) ~ "..." }}</option>
            {% endfor %}
        </select>
        &nbsp;si le score de celle-ci est&nbsp;
        <select name="qlink[]" disabled>
            <option value="&gt;">&gt;</option>
            <option value="&lt;">&lt;</option>
            <option value="&gt;=">&gt;=</option>
            <option value="&lt;=">&lt;=</option>
            <option value="==">==</option>
        </select>
        &nbsp;au score de la question actuelle.<br>
        Imposer un score pour la question actuelle&nbsp;?&nbsp;
        <input type="number" name="qlink[]" min="0" max="{{ id == 3 or id == 4 ? '1' : '99' }}" value="0" disabled>
    </div>

    <div class="qnext disabled">
        <label class="activate">Activer QNext&nbsp;<input type="checkbox" value="true" onchange="activateInputs(event)"></label>
        On appelera la question&nbsp;
        <select name="qnext[]" class="questions" autocomplete="off" disabled>
            {% for q in diagnostic.questions %}
                <option value="{{ q.id }}">Q{{ q.id }}. {{ q.ask|slice(0, 50) ~ "..." }}</option>
            {% endfor %}
        </select>
        &nbsp;si le score à la question actuelle est&nbsp;
        <select name="qnext[]" disabled>
            <option value="&gt;">&gt;</option>
            <option value="&lt;">&lt;</option>
            <option value="&gt;=">&gt;=</option>
            <option value="&lt;=">&lt;=</option>
            <option value="==">==</option>
        </select>
        &nbsp;à&nbsp;
        <input type="number" name="qnext[]" min="0" value="0" disabled>
    </div>

    <div class="factors">
        <label>
            <span>Pondération Categorie&nbsp;</span>
            <input type="number" name="categoryFactor" min="0" value="0" {{ id < 10 ? '' : 'disabled' }}>
        </label>
        <label>
            <span>Pondération Global&nbsp;</span>
            <input type="number" name="globalFactor" min="0" value="0" {{ id < 10 ? '' : 'disabled' }}>
        </label>
    </div>
{% endif %}