{% extends 'base.html.twig' %}

{% set title = 'Admin' %}

{% block body %}
    <main id="admin">
        {{ include('admin/_header.html.twig') }}

        <div class="container diagnostics question">
            <div class="head">
                <h1 class="title">Suppression du diagnostic N°{{ diagnostic.id }}</h1>
                <a href="{{ referrer }}"><img class="icon" src="{{ asset('img/icon/return.png') }}" alt="return"></a>
            </div>

            <form action="{{ path('admin_diagnostic_delete', {diagnostic: diagnostic.id}) }}" method="post">
                <input type="hidden" name="referrer" value="{{ referrer }}">

                <div class="recap">
                    <h2 class="title">Diagnostic : {{diagnostic.name }}</h2>
                    <p><i>{{ diagnostic.comment }}</i></p>
                    <p class="participations">Ce diagnostic est connecté à <strong>{{ participations }}</strong>&nbsp;<i>participation(s)</i></p>
                    <p class="questions">Ce diagnostic comprend <strong>{{ diagnostic.questions|length }}</strong>&nbsp;<i>questions(s)</i></p>
                    <br>
                    <p class="alert">NB : toutes ces participations & questions seront supprimées !</p>
                </div>

                <input type="submit" value="Supprimer définitivement ?">
            </form>
        </div>
    </main>
{% endblock %}

