{% extends 'base.html.twig' %}

{% set title = 'Admin' %}

{% block body %}
    <main id="user">
        <div class="container diagnostics">
            <div class="head">
                <div class="logo">
                    <img src="{{ asset('img/logo.svg') }}" alt="logo scaleChanger">
                </div>

                <h2 class="title">{{ participation.diagnostic.name }}</h2>
                {% if participation.done == true and participation.results is defined %}
                    <p class="infos results"><i>Stade de maturité globale</i> : <span class="maturity">{{ participation.results.maturity }} ({{ participation.results.percentage == 100 ? participation.results.percentage : participation.results.percentage|slice(0,4) }}%)</span></p>
                {% endif %}
                <a class="download" href="{{ path('admin_participation_download', {participations: participation.id}) }}" target="_blank"><img class="icon" src="{{ asset('img/icon/download.png') }}" alt="download"></a>
                <a href="{{ path('admin_participations') }}"><img class="icon" src="{{ asset('img/icon/return.png') }}" alt="return"></a>
            </div>
            <div class="head infos">
                <p>{{ participation.user.username }} - {{ participation.user.email }} ({{ participation.user.company }})</p>
                <p>Créé le {{ participation.createdAt|date('d/m/Y H:i') }} <br> MàJ le {{ participation.lastUpdate|date('m/d/Y H:i') }}
                <p>Temps passé : {{ participation.meta.time }}</p>
            </div>

            {% if participation.done == true %}
                <table>
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Réponse(s)</th>
                            <th>Score</th>
                            <th>fx&nbsp;Catg.</th>
                            <th>fx&nbsp;Global</th>
                            <th>Type/Oblig.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            {% set maturity = category.results.maturity is not empty ? ' : <span class="maturity">' ~ category.results.maturity ~ '</span>' : " -- pas de résultat -- " %}
                            <td class="category">{{ category.name }}{{ maturity|raw }} ({{ category.results.percentage == 100 ? category.results.percentage : category.results.percentage|slice(0,4) }}%)</td>
                        </tr>
                        {% for question in participation.diagnostic.questions %}
                            {% if question.category == category and question.activated %}
                                {% set questionAnwsers = participation.answers[question.id] is defined ? participation.answers[question.id] : [] %}
                                <tr class="admin">
                                    <td class="ask">Q{{ question.id }}.&nbsp;{{ question.ask }}</td>
                                    <td class="answers">
                                        {% for key, answer in question.answers %}
                                            {% if question.answerType < 10 %}
                                                <div class="answer">
                                                    <input type="radio" disabled autocomplete="off" {{ key in questionAnwsers ? 'checked' : '' }}>&nbsp;&nbsp;<label>{{ answer['answer'] }} -- pts: {{ answer['score'] }}</label>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <i>{{ questionAnwsers[0] is defined ? questionAnwsers[0] : "--" }}</i>
                                        {% endfor %}
                                    </td>
                                    <td class="type sp">{{ question.results.score }}/{{ question.results.scoreMax }}</td>
                                    <td class="type sp">x{{ question.categoryFactor }}</td>
                                    <td class="type sp">x{{ question.globalFactor }}</td>
                                    <td class="type sp">
                                        {{ constant('ANSWERTYPES', question)[question.answerType]['label'] }}{{ question.required ? '&nbsp;*' : '' }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table>
                    <thead>
                    <tr>
                        <td style="text-align: center;">
                            Vous n'avez pas terminé le questionnaire,
                            cliquez pour reprendre :<br>
                            <a href="{{ path('participation_start', {participation: participation.id}) }}">
                                <button style="margin-top: 20px; padding: 10px; cursor: pointer;">Go !</button>
                            </a>
                        </td>
                    </tr>
                    </thead>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock %}
