{% extends 'base.html.twig' %}

{% set title = 'Admin' %}

{% block body %}
    <main id="admin">
        {{ include('admin/_header.html.twig') }}

        <div class="container participations">
            <div class="head">
                <h1 class="title">Ajouter une participation</h1>
                <a href="{{ path('admin_participations') }}"><img class="icon" src="{{ asset('img/icon/return.png') }}" alt="return"></a>
            </div>

            <form action="{{ path('admin_participation_new') }}" method="post">
                <div class="create">
                    <div class="switch">
                        <label for="user">Choisir un utilisateur</label>
                        <input type="text" name="search" autocomplete="off" placeholder="rechercher">

                        <label for="username">Noms<input id="username" type="radio" name="switch-search" autocomplete="off" value="username" checked></label>
                        <label for="email">Email<input id="email" type="radio" name="switch-search" autocomplete="off" value="email"></label>
                    </div>
                    <select name="users[]" id="user" multiple required>
                        {{ include('admin/participation_switch_username.html.twig') }}
                    </select>

                    <label for="diagnostic">Associer un diagnostic</label>
                    <select name="diagnostics[]" id="diagnostic" multiple required>
                        {% for diagnostic in diagnostics %}
                            <option value="{{ diagnostic.id }}">{{ diagnostic.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" value="Ajouter">
            </form>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        // NOTE handle search in names/emails
        document.querySelector('input[name="search"]').addEventListener('keyup', e => {
            let input = e.target.value;
            document.querySelectorAll('select[name="users[]"] option').forEach(o => {
                if(o.innerText.toLowerCase().search(input.toLowerCase()) === -1) o.style.display = "none";
                else if(input === "") o.style.display = "block";
                else o.style.display = "block";
            });
        });

        document.querySelectorAll('input[name="switch-search"]').forEach(i => {
            i.addEventListener('change', e => {
                fetch('/admin/participation/switch/' + e.target.value)
                    .then(r => r.text()).then(html => {
                        document.querySelector('select[name="users[]"]').innerHTML = html;
                    });
            });
        });
    </script>
{% endblock %}
