{% extends 'base.html.twig' %}

{% set title = 'Admin' %}

{% block body %}
    <main id="admin">
        {{ include('admin/_header.html.twig') }}

        <div class="container user">
            <div class="head">
                <h1 class="title">Editer un utilisateur</h1>
                <a href="{{ path('admin_users') }}"><img class="icon" src="{{ asset('img/icon/return.png') }}" alt="return"></a>
            </div>

            <form action="{{ path('admin_user_edit', {id: user.id}) }}" method="post">
                <label>Nom</label><input type="text" name="username" value="{{ user.username }}">
                <label>Email</label><input type="email" name="email" value="{{ user.email }}">
                <label>Organisation</label><input type="text" name="company" value="{{ user.company }}">

                {% if user.accessPassword is not null %}
                    <label>Access Pass</label>
                    <input type="text" name="company" value="{{ user.accessPassword }}" disabled>

                    <div class="admin">
                        <label>Administrateur</label>
                        <input type="checkbox" name="admin" {{ 'ROLE_ADMIN' in user.roles ? 'checked' : '' }}>
                    </div>
                {% endif %}

                <input type="submit" value="{{ user.id ? 'Modifier' : 'Créer' }}">
            </form>
        </div>
    </main>
{% endblock %}
