{% extends 'base.html.twig' %}

{% set title = 'Admin' %}

{% block body %}
    <main id="admin">
        {{ include('admin/_header.html.twig') }}

        <div class="users">
            <div class="head">
                <h1 class="title">Liste des utilisateurs</h1>
                <a href="{{ path('admin_edit_user') }}"><img class="icon" src="{{ asset('img/icon/add.png') }}" alt="add"></a>
            </div>

            <form action="{{ path('admin_edit_user', {id: user.id}) }}" method="post">
                <label>Nom</label><input type="text" name="username" value="{{ user.username }}">
                <label>Email</label><input type="email" name="email" value="{{ user.email }}">
                <label>Entreprise</label><input type="text" name="company" value="{{ user.company }}">

                {% if user.accessPassword is not null %}
                    <label>Access Pass</label>
                    <input type="text" name="company" value="{{ user.accessPassword }}" disabled>
                {% endif %}

                <input type="submit" value="{{ user.id ? 'Modifier' : 'Créer' }}">
            </form>
        </div>
    </main>
{% endblock %}
