{% extends 'base.html.twig' %}

{% set title = 'Admin' %}

{% block body %}
    <main id="admin">
        {{ include('admin/_header.html.twig') }}

        <div class="container users">
            <div class="head">
                <h1 class="title">Liste des utilisateurs</h1>
                <a href="{{ path('admin_user_edit') }}"><img class="icon" src="{{ asset('img/icon/add.png') }}" alt="add"></a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Organisation</th>
                        <th>Créé le</th>
                        <th>Der. Conn.</th>
                        <th class="small center">Activé</th>
                        <th class="small center">Lien</th>
                        <th class="small center">Modif.</th>
                        <th class="small center">Suppr.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.company }}</td>
                            <td>{{ user.createdAt|date('d/m/Y H:i') }}</td>
                            <td>{{ user.lastConnection is not null ? user.lastConnection|date('d/m/Y H:i') : "--" }}</td>
                            <td class="small center">
                                <input type="checkbox" name="activate" value="{{ user.id }}" autocomplete="off" {{ user.activated ? 'checked' : '' }} {{ 'ROLE_ADMIN' in user.roles ? 'disabled' : '' }}>
                            </td>
                            <td class="small center">
                                <a href="#" onclick="popLink('{{ app.request.getSchemeAndHttpHost ~ '/login?u=' ~ user.email ~ "&p=" ~ user.accessPassword }}', '{{ user.id }}')">
                                    <img class="icon" src="{{ asset('img/icon/link.png') }}" alt="copy">
                                </a>
                            </td>
                            <td class="small center">
                                <a href="{{ path('admin_user_edit', {id: user.id}) }}">
                                    <img class="icon" src="{{ asset('img/icon/edit.png') }}" alt="edit">
                                </a>
                            </td>
                            <td class="small center">
                                <a href="{{ 'ROLE_ADMIN' in user.roles ? '' : path('admin_user_delete', {id: user.id}) }}">
                                    <img class="icon {{ 'ROLE_ADMIN' in user.roles ? 'disabled' : '' }}" src="{{ asset('img/icon/trash.png') }}" alt="trash">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                </tbody>
            </table>
        </div>


        <div class="pop-link">
            <div class="copy">
                <label for="">Lien de connexion :</label>
                <input type="text" name="copy" value="">
                <a class="send" href="#" onclick="sendLink()">
                    <span>Renvoyer le lien de connexion</span><img class="icon" src="{{ asset('img/icon/send.png') }}" alt="send">
                </a>
            </div>
        </div>
    </main>
{% endblock %}


{% block javascripts %}
    <script>
        {#
            NOTE pop user link
            // TODO fetch new access password
        #}

        document.querySelectorAll('input[name="activate"]').forEach(i => {
            i.addEventListener('change', (e) => {
                fetch('/admin/user/toggle/activate/' + i.value).catch(e => console.error(e));
            });
        });

        let popup = document.querySelector('.pop-link');
        popup.addEventListener('click', closePopLink);

        function popLink(link, id)
        {
            popup.dataset.id = id;
            popup.querySelector('input[name="copy"]').value = link;
            popup.classList.add('active');
        }

        function sendLink()
        {
            const id = popup.dataset.id;
            fetch('/admin/user/send-link/' + id).then(r => {
                popup.classList.remove('active');
            });
        }

        function closePopLink(e)
        {
            if(e.target.classList.contains('active'))
                e.target.classList.remove('active');
        }
    </script>
{% endblock %}
