{% extends 'base.html.twig' %}

{% set title = 'Login' %}

{% block body %}
    <main id="user">
        <div class="container login">

            <div class="head">
                <div class="logo">
                    <img src="{{ asset('img/logo.svg') }}" alt="logo scaleChanger">
                </div>
                <h1 class="title">Connexion</h1>
                {% if error %}
                    <p class="infos error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
            </div>

            <form action="{{ path('login') }}" method="post">
                <label for="username">Email</label>
                <input type="text" id="username" name="_username" value="{{ link.email is not empty ? link.email : last_username }}"/>

                <label for="password">Password</label>
                <input type="password" id="password" name="_password" value="{{ link.password }}"/>

                <input type="hidden" name="_target_path" value="/login"/>
                <button type="submit">login</button>
            </form>
        </div>
    </main>
{% endblock %}
